## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,60.39,1,9.22,clear sky
1,1,Ushuaia,AR,-54.8000,-68.3000,30.20,40,4.61,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,75.34,88,12.26,overcast clouds
3,3,Kurilsk,RU,45.2333,147.8833,37.74,99,18.30,overcast clouds
4,4,Nador,MA,35.1740,-2.9287,66.20,75,6.91,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,75.34,88,12.26,overcast clouds
5,5,Boke,GN,10.9409,-14.2967,76.78,72,3.02,broken clouds
12,12,Port-Gentil,GA,-0.7193,8.7815,80.60,90,13.80,light intensity drizzle
24,24,Luanda,AO,-8.8368,13.2343,77.00,75,5.75,broken clouds
25,25,Hilo,US,19.7297,-155.0900,86.29,75,16.11,broken clouds
26,26,Atuona,PF,-9.8000,-139.0333,79.56,6,9.26,clear sky
30,30,Alofi,NU,-19.0595,-169.9187,82.29,74,8.05,light rain
33,33,Katsuura,JP,35.1333,140.3000,73.00,75,4.61,broken clouds
34,34,Praia,CV,14.9215,-23.5087,71.60,0,8.05,clear sky
36,36,Mareeba,AU,-17.0000,145.4333,72.45,95,6.22,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                276
City                   276
Country                276
Lat                    276
Lng                    276
Max Temp               276
Cloudiness             276
Wind Speed             276
Current Description    276
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
full_cities_df= preferred_cities_df.dropna()
full_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,75.34,88,12.26,overcast clouds
5,5,Boke,GN,10.9409,-14.2967,76.78,72,3.02,broken clouds
12,12,Port-Gentil,GA,-0.7193,8.7815,80.60,90,13.80,light intensity drizzle
24,24,Luanda,AO,-8.8368,13.2343,77.00,75,5.75,broken clouds
25,25,Hilo,US,19.7297,-155.0900,86.29,75,16.11,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = full_cities_df[["City", "Country", "Max Temp", "Lat", "Lng","Current Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
2,Rikitea,PF,75.34,-23.1203,-134.9692,overcast clouds,
5,Boke,GN,76.78,10.9409,-14.2967,broken clouds,
12,Port-Gentil,GA,80.60,-0.7193,8.7815,light intensity drizzle,
24,Luanda,AO,77.00,-8.8368,13.2343,broken clouds,
25,Hilo,US,86.29,19.7297,-155.0900,broken clouds,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.count()

City                   276
Country                276
Max Temp               276
Lat                    276
Lng                    276
Current Description    276
Hotel Name             276
dtype: int64

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
2,Rikitea,PF,75.34,-23.1203,-134.9692,overcast clouds,Pension Maro'i
5,Boke,GN,76.78,10.9409,-14.2967,broken clouds,Hôtel Rio Nunez - Boké
12,Port-Gentil,GA,80.60,-0.7193,8.7815,light intensity drizzle,Fengshui Residence
24,Luanda,AO,77.00,-8.8368,13.2343,broken clouds,LANDU MARINEZA LUFUANDU TONI
25,Hilo,US,86.29,19.7297,-155.0900,broken clouds,Hilo Hawaiian Hotel
26,Atuona,PF,79.56,-9.8000,-139.0333,clear sky,Villa Enata
30,Alofi,NU,82.29,-19.0595,-169.9187,light rain,Taloa Heights
33,Katsuura,JP,73.00,35.1333,140.3000,broken clouds,Katsuura Hotel Mikazuki
34,Praia,CV,71.60,14.9215,-23.5087,clear sky,LT Aparthotel
36,Mareeba,AU,72.45,-17.0000,145.4333,overcast clouds,Trinity Plains Tourist Park

In [11]:
clean_hotel_df.head(25)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
2,Rikitea,PF,75.34,-23.1203,-134.9692,overcast clouds,Pension Maro'i
5,Boke,GN,76.78,10.9409,-14.2967,broken clouds,Hôtel Rio Nunez - Boké
12,Port-Gentil,GA,80.60,-0.7193,8.7815,light intensity drizzle,Fengshui Residence
24,Luanda,AO,77.00,-8.8368,13.2343,broken clouds,LANDU MARINEZA LUFUANDU TONI
25,Hilo,US,86.29,19.7297,-155.0900,broken clouds,Hilo Hawaiian Hotel
26,Atuona,PF,79.56,-9.8000,-139.0333,clear sky,Villa Enata
30,Alofi,NU,82.29,-19.0595,-169.9187,light rain,Taloa Heights
33,Katsuura,JP,73.00,35.1333,140.3000,broken clouds,Katsuura Hotel Mikazuki
34,Praia,CV,71.60,14.9215,-23.5087,clear sky,LT Aparthotel
36,Mareeba,AU,72.45,-17.0000,145.4333,overcast clouds,Trinity Plains Tourist Park
39,Vaini,TO,71.76,-21.2000,-175.2000,light rain,Keleti Beach Resort
42,Kapaa,US,84.52,22.0752,-159.3190,few clouds,Sheraton Kauai Coconut Beach Resort
43,Hasaki,JP,72.28,35.7333,140.8333,few clouds,Hotel Sunrise Choshi
50,Rio Verde De Mato Grosso,BR,75.51,-18.9181,-54.8442,overcast clouds,Hotel Valência
51,Arraial Do Cabo,BR,73.54,-22.9661,-42.0278,light rain,Pousada Porto Praia
52,Toppenish,US,86.07,46.3774,-120.3087,overcast clouds,Quality Inn & Suites Toppenish - Yakima Valley
57,Isangel,VU,75.31,-19.5500,169.2667,broken clouds,Tanna Lodge
58,Blytheville,US,72.99,35.9273,-89.9190,clear sky,Days Inn by Wyndham Blytheville
62,Touros,BR,77.90,-5.1989,-35.4608,broken clouds,INN NEW HORIZON
64,Naze,JP,76.12,28.3667,129.4833,overcast clouds,奄美ポートタワーホテル
67,Soto La Marina,MX,85.53,23.7667,-98.2167,broken clouds,Hotel Chicago
68,Ipixuna,BR,80.55,-1.7625,-48.8043,overcast clouds,Casa da Oscarina
75,Nurota,UZ,77.09,40.5614,65.6886,clear sky,Guest House Ruslan Nurata & Tours
77,Hithadhoo,MV,83.71,-0.6000,73.0833,few clouds,Scoop Guest House
78,Shingu,JP,72.59,33.7333,135.9833,clear sky,Shingu UI Hotel

In [12]:
# 8a. Create the output File (CSV)

output_data_file = "Vacation_Search/Vacation_Search.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))