## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/Vacation_Search.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,2,Rikitea,PF,75.34,-23.1203,-134.9692,overcast clouds,Pension Maro'i
1,5,Boke,GN,76.78,10.9409,-14.2967,broken clouds,Hôtel Rio Nunez - Boké
2,12,Port-Gentil,GA,80.60,-0.7193,8.7815,light intensity drizzle,Fengshui Residence
3,24,Luanda,AO,77.00,-8.8368,13.2343,broken clouds,LANDU MARINEZA LUFUANDU TONI
4,25,Hilo,US,86.29,19.7297,-155.0900,broken clouds,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,2,Rikitea,PF,75.34,-23.1203,-134.9692,overcast clouds,Pension Maro'i
1,5,Boke,GN,76.78,10.9409,-14.2967,broken clouds,Hôtel Rio Nunez - Boké
2,12,Port-Gentil,GA,80.60,-0.7193,8.7815,light intensity drizzle,Fengshui Residence
3,24,Luanda,AO,77.00,-8.8368,13.2343,broken clouds,LANDU MARINEZA LUFUANDU TONI
4,25,Hilo,US,86.29,19.7297,-155.0900,broken clouds,Hilo Hawaiian Hotel

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Nalut")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Nalut")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Jalu")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Marsa Matruh")] 
vacation_stop3 =vacation_df.loc[(vacation_df["City"] == "Bilma")]

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [ ]:
start

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
almeria2calatayud = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], 
                                      travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(almeria2calatayud)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,432,Nalut,LY,77.70,30.3333,10.8500,clear sky,NaN
1,267,Jalu,LY,78.93,29.0331,21.5482,clear sky,صاحبة الفخامة
2,423,Marsa Matruh,EG,70.54,31.3525,27.2453,clear sky,Beau Site
3,392,Bilma,NE,88.14,18.6853,12.9164,overcast clouds,Expeditions Ténére voyages

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))